.help_list{
	background: #fff;
	margin-top: 0.1rem;
	overflow: hidden;
}
.help_list_img{
	width: 0.8rem;
	float: left;
	margin-top: 0.1rem;
	margin-left: 0.1rem;
	margin-bottom: 0.1rem;
}
.help_list_desc{
	display: inline-block;
	color: #9c9fa1;
	font-size: 0.18rem;
	line-height: 0.4rem;
	float: left;
	margin-top: 0.1rem;
	margin-left: 0.1rem;
}
.help_img_more{
	float: right;
	margin-top: 0.3rem;
	margin-right: 0.1rem;
	width: 0.1rme;
}
